/*.sidenav-container {*/
/*  height: 100%;*/
/*}*/

.toolbar {
  height: 100px;
  background: white;
}

::ng-deep .mat-drawer-backdrop.mat-drawer-shown {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: fixed;
  display: block;
  z-index: 3;
  visibility: hidden;
}

.sidenav {
  width: 400px;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

.play {
  position: absolute;
  left: 90px;
  top: 30px;
  font-size: 65px;
}

.button {
  background: transparent;
  position: absolute;
  top: 25px;
  left: 15px;
}

.icon {
  font-size: 50px;
}
