

<style>
  .custom {
    position: absolute;
    top: 100px;
    height: 100px;
    width: 100px;
    margin:2em;
  }
</style>

<mat-card class="custom">
  <mat-card-title>hello</mat-card-title>
<!--  <mat-card class="time">-->
<!--    <section class="time-form">-->
<!--      <mat-form-field class="time-form-field">-->
<!--        <mat-label>Time Format</mat-label>-->
<!--        <input matInput type="number" [(ngModel)]="time">-->
<!--      </mat-form-field>-->
<!--    </section>-->
<!--    <section class="time-slider">-->
<!--      <mat-slider-->
<!--        class="time-slider-slide"-->
<!--        min="1"-->
<!--        max="30"-->
<!--        step="1"-->
<!--        [(ngModel)]="time">-->
<!--      </mat-slider>-->
<!--    </section>-->
<!--  </mat-card>-->

<!--  <mat-card class="inc">-->
<!--    <section class="inc-form">-->
<!--      <mat-form-field class="inc-form-field">-->
<!--        <mat-label>Increment</mat-label>-->
<!--        <input matInput type="number" [(ngModel)]="increment">-->
<!--      </mat-form-field>-->
<!--    </section>-->
<!--    <section class="inc-slider">-->
<!--      <mat-slider-->
<!--        class="inc-slider-slide"-->
<!--        min="0"-->
<!--        max="30"-->
<!--        step="1"-->
<!--        [(ngModel)]="increment"-->
<!--        thumbLabel>-->
<!--      </mat-slider>-->
<!--    </section>-->
<!--  </mat-card>-->

<!--  <section class="button">-->
<!--    <button mat-raised-button class="play-but">Play</button>-->
<!--  </section>-->
</mat-card>

<!--<mat-card class="standard">-->
<!--  <mat-grid-list class="standard-times" cols="4" rowHeight="1:1">-->
<!--    <mat-grid-tile><button class="time-but">1+0</button></mat-grid-tile>-->
<!--    <mat-grid-tile><button class="time-but">2+3</button></mat-grid-tile>-->
<!--    <mat-grid-tile><button class="time-but">3+3</button></mat-grid-tile>-->
<!--    <mat-grid-tile><button class="time-but">5+5</button></mat-grid-tile>-->
<!--    <mat-grid-tile><button class="time-but">10+0</button></mat-grid-tile>-->
<!--    <mat-grid-tile><button class="time-but">10+5</button></mat-grid-tile>-->
<!--    <mat-grid-tile><button class="time-but">15+10</button></mat-grid-tile>-->
<!--    <mat-grid-tile><button class="time-but">30+15</button></mat-grid-tile>-->
<!--  </mat-grid-list>-->
<!--</mat-card>-->
