.custom {
  width: 500px;
  margin-left: auto;
  margin-right: auto;
}

.time {
  height: 150px;
  width: 150px;
}

.time-form-field {
  width: 100px;
}

.time-slider-slide {
  width: 100px;
}

.inc {
  height: 150px;
  width: 150px;
}

.inc-form-field {
  width: 100px;
}

.inc-slider-slide {
  width: 100px;
}

.play-but {
  width: 350px;
  height: 45px;
  margin-left: auto;
  margin-right: auto;
  font-size: 25px;
}

.standard {
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  height: 235px;
  width: 500px;
}

.standard-times {
  height: 250px;
  width: 400px;
  margin-left: auto;
  margin-right: auto;
}

.time-but {
  width: 99px;
  height: 99px;
  font-size: 20px;
}
