
<mat-card class="container">
  <mat-grid-list cols="6" rowHeight="75px">
    <mat-grid-tile colspan="1" rowspan="8">
      <mat-card class="info">

      </mat-card>
    </mat-grid-tile>

    <mat-grid-tile colspan="5" rowspan="8">
      <mat-card id="board" class="board">
        <mat-grid-list class="grid" cols="8" rowHeight="75px">
          <mat-grid-tile id="pc" *ngFor="let button of buttons" colspan="1">
            <app-game-button id="but" class="game-button" [piece]="button"></app-game-button>
          </mat-grid-tile>
        </mat-grid-list>
      </mat-card>
    </mat-grid-tile>

    <mat-grid-tile colspan="1" rowspan="1">
      <div class="place-holder"></div>
    </mat-grid-tile>

    <mat-grid-tile colspan="5" rowspan="1">
      <button class="confirm" mat-raised-button (click)="sendMove()">Confirm Move</button>
    </mat-grid-tile>
  </mat-grid-list>
</mat-card>




